
@font-face {
  font-family: gadems;
  src: url(fonts/Gadems-PERSONALUSEONLY.otf);
}

body
{
margin: 0px;
padding: 0px;
background-color: rgba(0, 0, 0);
color: white;
font-family: Cormorant Garamond, Arial;
}

section
{
  margin-bottom: 8%;
  font-family: Cormorant Garamond, Arial;
}

.name-restaurant
{
  font-size: 2.4rem;
  font-family: Gadems , Arial;
  padding-left: 3%;
  flex-shrink: 0;
  text-shadow: 0 0 5px #ff0000,
  0 0 10px #ff0044,
  0 0 15px #ff0077,
  0 0 20px #ff66aa,
  0 0 25px #ff99cc;
 
}

.header
{
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: black;
color: white;
height: 150px;
flex-shrink: 0;
}

.logo
{
  height: 100%;
 
}

.home-button,.menu-button,.reservation-button,.review-button
{
  display: none;
}

.home-button
{
  color: white;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.9rem;
  font-weight: 700;
  font-family: Cormorant Garamond, Arial;
}

.home-button:hover
{
  color: rgb(255, 107, 107);
}

.home-button:active
{
  color: rgb(255, 70, 70);
}

.menu-button
{
  color: white;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.9rem;
  font-weight: 700;
  font-family: Cormorant Garamond, Arial;
}

.menu-button:hover
{
  color: rgb(255, 107, 107);
}

.menu-button:active
{
  color: rgb(255, 70, 70);
}

.reservation-button
{
  color: white;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.9rem;
  font-weight: 700;
  font-family: Cormorant Garamond, Arial;
}

.reservation-button:hover
{
  color: rgb(255, 107, 107);
}

.reservation-button:active
{
  color: rgb(255, 70, 70);
}

.review-button
{
  color: white;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.9rem;
  font-weight: 700;
  font-family: Cormorant Garamond, Arial;
}

.review-button:hover
{
  color: rgb(255, 107, 107);
}

.review-button:active
{
  color: rgb(255, 70, 70);
}

.name-restaurant
{
  display: flex;
  flex: 1;
  align-items: center;
 
}


.navbar
{
  display: flex;
  flex: 1;
  flex-shrink: 0;
  gap: 0px;
  margin: 0px;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 8%;
  padding-right: 2%;
}

.main-screen
{
  display: flex; 
  align-items: center; 
  flex-direction: column;
  gap: 2%;
  padding: 2%;
}



.image
{
  max-width: 60%; 
  height: auto;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 

}

.details
{
  flex: 1; 
  font-family: Cormorant Garamond, Arial;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional shadow for the text box */
}

h4,h3
{
  text-decoration: underline;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2%;
  place-self: center;
  font-family: Cormorant Garamond, Arial;
}

.menu-grid
{
  display: grid; 
  position: relative;
  grid-template-columns: 1fr;
  height: 50%;
  column-gap: 3%;
  row-gap: 4%;
  margin: 2% 2%;
}


.appetizers-menu,.main-dishes-menu,.specials-menu,.drinks-menu
{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(136, 0, 0);
  margin: 10px 15px;
  padding: 5px 15px;
  font-weight: 700;
  font-family: Cormorant Garamond, Arial;
  font-size: 1.8rem;
}

h5,h1,h2{
  text-align: center;
  font-size: 2.5rem;
  color: white;
  margin: 3%;
  margin-bottom: 6%;
  text-decoration: underline;
  font-weight: 700;
}

.reservation-formm-container
{
  display: flex;
  flex-direction: row;
  flex: 1 ;
}

input,textarea
{
  padding: 10px 16px;
  background-color: rgba(255, 255, 255, 0.911);
  border: 2px solid rgb(189, 4, 4);
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgb(136, 0, 0),0px 0px 10px rgb(136, 40, 40),0px 0px 15px rgb(136, 80, 80), 0px 0px 20px rgb(136, 120, 120);
}

#review,#reservation,#reservation-location
{
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  align-content: center;
}

#review input,#reservation input, #review textarea,#reservation textarea
{
    width: 100%;
    margin: 10px 0;
   
}

.button
{
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 5px rgb(136, 0, 0),0px 0px 10px rgb(136, 40, 40),0px 0px 15px rgb(136, 80, 80), 0px 0px 20px rgb(136, 120, 120);
  border-radius: 10px;
  margin: 3%;
  padding: 6px 10px;
  color: white;
 
}


footer
{
  padding: 30px 20px;
  

}

footer .social
{
  display: flex;
  justify-content: center;
}

footer p
{
  font-size: 1.7rem;
  text-decoration: underline;
  place-self: center ;
}

footer img
{

  width: 30px;
  margin: 20px;
}


footer ul {
  list-style: none;

  padding: 0;
}





@media (min-width: 760px) 
{

  body
  {
    font-size: 30px;
  }

  .menu-grid 
  {
    grid-template-columns: 1fr 1fr;
  
  }

}

@media (min-width: 1024px) 
{
  body
  {
    font-size: 40px;
  }
  .menu-grid 
  {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1300px;
    place-self: center;
  }

  .main-screen
{
  display: flex; 
  align-items: center; 
  flex-direction: row;
  gap: 2%;
  padding: 2%;
}

.home-button,.menu-button,.reservation-button,.review-button
{
  display: flex;
}

}